.main-footer{
   position: absolute;
   bottom: 10px;
    left: 30px;
}
.main-footer > .simple-paragraphy{
    margin-top: var(--gap-smaller);
    font-size: 12px;

}
.main-footer > .vec-tor{
    width: 90%;
    
    

}