.main-menu > .simple-action {
    font-size: 16px;
    margin-right: var(--gap-small);
       
}
.main-menu > .primary-button {
    display: inline-block;
    font-size: 16px;
    width: 60px;
    height: 20px;
    line-height: 20px;
    text-align: center;
    
}