.simple-section{
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    height: 80vh;
}
.simple-section > .simple-title{
    margin-bottom: var(--gap-smaller);
    font-size: 30px;
}
.simple-section > .simple-subtitle{
    margin-bottom: var(--gap-big);
    font-size: 24px;
}
.simple-section > .primary-button{
    
    margin-bottom: var(--gap-small);
    
    font-size: 22px;
    width: 250px;
    height: 40px;
    display: flex;
    justify-content: center;
   align-items: center;
    

}
.simple-section > .simple-action{
    font-size: 20px;
}